{% extends 'base.html' %}

{% block title %}UPI PAYMENT{% endblock %}
{% block content %}
<div>
    <header><h5><font color="red"><u>NOTE:- THE PAYMENT STATUS WILL GET UPDATED AFTER 6 PM SO YOU CAN KINDLY CHECK YOUR PAYMENT STATUS AND ORDER STATUS IN YOUR PROFILE AFTER 6 PM.</u></font></h5></header>
</div>
<div>
<center><h3> <b> METHOD 1:- By UPI ID </b></h3>
<h4> USE THIS UPI ID TO PAY - <b><u>dailycart143@okicici</u></b></h4></center>
</div>
<div>
<center><h3> <b> METHOD 2:- By QR CODE</b></h3>
    <h4> SCAN THIS  QR CODE TO PAY </h4></center>
  <center> <img src="/media/products/QRcode(PAYMENT).jpg" class="img-fluid"  alt="QR code" ></center>
</div>
{% endblock %}